<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lalikum.getdrunkforless">

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/gd_launcher_rainbow_fg"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/GetDrunkDark">
        <activity android:name=".AddBeverageActivity" />
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TutorialActivity" />
        <activity android:name=".SettingsActivity"
            android:label="@string/settings_title"/>
        <activity android:name=".HomeActivity" />
    </application>

</manifest>